*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background2.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
/*.navbar{
    position: fixed;
    top: 0;
    display: flex;
    height: 65px;
    background: rgb(0, 0, 0, 0.7)
}*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.vavbar{
    position: fixed;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%
}
.header-text{
    margin-top:15%;
    font-size:30px;
 }
 .header-text h1{
    font-size:60px;
    margin-top:20px;
 }
 .header-text h1 span{
    color:#ff004f;
 }
.moving-text span{
    font-size: 32px;
}
 /*-----------about-----------*/
 #about{
    height: 135vh;
    background-color: #262626;
    padding: 80px 0; 
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    padding-bottom: 18px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    margin:10px 0;
}
.tab-contents ul li span{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
#education span{
    color: #ff004f;
    font-size: 18px;
    font-weight: 500;
}
#internship span{
    color: #ff004f;
    font-size: 18px;
    font-weight: 500;
}
#education ul li{
    list-style: none;
}
#internship .internship{
    list-style: none;
}
#skills li{
    list-style: none;
}
/*----------Skills-------*/
.skills-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-column {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
}

.skill-item {
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: .1px solid #ff004f; /* Add border color */

}

.skill-item h3 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.skill-item p {
    font-size: 14px;
    color: #ababab;
    margin: 0;
}


 /*-----------Employment History-----------*/
 #employment{
    height: 125vh;
    padding: 30px 0;
 }
 .employment-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;
    margin-top: 50px;
   
 }
 .employment-list div{
    background: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 100;
    color: #ababab;
    border-right: 10px;
    text-align: justify;
    transition: background 0.5s, transform 0.5s;
    border-radius: 10px;
}
.employment-list div h2{
    font-size:30px;
    font-weight:500;
    color: #fff;
    margin-bottom: 5px;
    text-align: center;
}
.employment-list div:hover{
    transform:translateY(-10px);
}
.employment-list div h2:hover{
    color: #ff004f;
}
.employment-list p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
/*-----------Contacts-----------*/
#contact{
    height: 100vh;
    background-color: #262626;
    padding: 80px 0; 
    color: #ababab;
 }
 .contact-left{
    flex-basis: 35%;
 }
 .contact-right{
    flex-basis: 60%;
 }
 .contact-left p{
    margin-top: 30px;
 }
 .contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
 }
 .social-icons{
    margin-top: 30px;
 }
 .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
 }
 .social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
 }
.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;    
    color: #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.05s;
}
.btn.download:hover{
    background: #ff004f
}
.btn.submit{
    color: #fff;
    background-color: #262626;
}
.btn.submit:hover{
    background: #ff004f
}



.contact-right {
    flex-basis: 60%;
}

.contact-right form {
    background-color: #262626;
    padding: 30px;
    border-radius: 10px;
}

.contact-right input[type="text"],
.contact-right input[type="email"],
.contact-right textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff; /* Adjust border color */
    border-radius: 5px;
    background-color: #080808;
    color: #fff;
}

.contact-right input[type="text"]:focus,
.contact-right input[type="email"]:focus,
.contact-right textarea:focus {
    outline: none;
    border: 1px solid #ff004f; /* Adjust border color */
}

.contact-right textarea {
    resize: vertical;
}

.contact-right button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff004f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-right button[type="submit"]:hover {
    background-color: #d6004c;
}
